In [1]:
import pandas as pd
import os

In [2]:
reads_stat=pd.read_table('./Reads_stats.txt')

In [3]:
reads_stat

    Name  total_sequences
0    D14         32782245
1    D15          2996668
2    B14         21429477
3    B15           153232
4    D10         23288792
5    D11         32697648
6    B10         17834103
7    B11         20046398
8    K15          3612407
9     K1         22410586
10    K2         28918492
11    K3         26242205
12    K4         24820918
13    K5         23742724
14    K6         33328222
15    K7         31981703
16    K8         32681044
17    K9         30490811
18   H13         37422537
19   H12         41270847
20   H14         30102331
21   H15          9175826
22   G11         33675291
23   G10         27114988
24   G13         37572727
25   G12         26920188
26   G14         37776908
27   G15          6506030
28   H11         32967437
29   H10         38520781
..   ...              ...
112   B8         30024928
113   B9         25137458
114   H1         25280406
115   H2         28813765
116   H3         22349524
117   H4         24759914
118   H5         30414599
119   H6         27475774
120   H7         34514625
121   H8         24061929
122   H9         22018934
123   G1         36710263
124   G2         43200626
125   G3         37032264
126   G4         39052795
127   G5         43574191
128   G6         36750415
129   G7         42425871
130   G8         39688818
131   G9         41214475
132  K16          6459403
133  A16          2286656
134  J16          7184240
135  F16           196159
136  E16          3043355
137  D16          1329884
138  C16          3348029
139  B16           730013
140  H16           507972
141  G16          1923242

[142 rows x 2 columns]

In [4]:
dict_reads=reads_stat.set_index('Name').T.to_dict('list')

In [5]:
dict_reads

{'A1': [28815565],
 'A10': [26031851],
 'A11': [31630345],
 'A14': [30080913],
 'A15': [744181],
 'A16': [2286656],
 'A2': [23449401],
 'A3': [25701733],
 'A4': [26386676],
 'A5': [28801277],
 'A6': [22805861],
 'A7': [26574132],
 'A8': [23679282],
 'A9': [27007147],
 'B1': [40746666],
 'B10': [17834103],
 'B11': [20046398],
 'B14': [21429477],
 'B15': [153232],
 'B16': [730013],
 'B2': [30848713],
 'B3': [24858281],
 'B4': [41951173],
 'B5': [25906094],
 'B6': [21568788],
 'B7': [32590769],
 'B8': [30024928],
 'B9': [25137458],
 'C1': [42540595],
 'C10': [23930703],
 'C11': [28174193],
 'C14': [25545632],
 'C15': [1108478],
 'C16': [3348029],
 'C2': [41024730],
 'C3': [54437005],
 'C4': [50561552],
 'C5': [46193837],
 'C6': [48116289],
 'C7': [45197859],
 'C8': [46928005],
 'C9': [47356498],
 'D1': [48578886],
 'D10': [23288792],
 'D11': [32697648],
 'D14': [32782245],
 'D15': [2996668],
 'D16': [1329884],
 'D2': [46014367],
 'D3': [47068721],
 'D4': [51803952],
 'D5': [48988697],
 'D6': [56765644],
 'D7': [43356006],
 'D8': [47961477],
 'D9': [44519116],
 'E1': [43566401],
 'E10': [31612358],
 'E11': [32538512],
 'E12': [23576124],
 'E13': [35381289],
 'E14': [36857140],
 'E15': [7510742],
 'E16': [3043355],
 'E2': [36949139],
 'E3': [40777729],
 'E4': [48628324],
 'E5': [54485700],
 'E6': [48681069],
 'E7': [38688319],
 'E8': [40081960],
 'E9': [44155910],
 'F1': [41515586],
 'F10': [42838391],
 'F11': [41639279],
 'F12': [44665727],
 'F13': [37076085],
 'F14': [41224681],
 'F15': [9963473],
 'F16': [196159],
 'F2': [40923762],
 'F3': [40201917],
 'F4': [44782856],
 'F5': [44051866],
 'F6': [35851883],
 'F7': [45599524],
 'F8': [33288727],
 'F9': [44367709],
 'G1': [36710263],
 'G10': [27114988],
 'G11': [33675291],
 'G12': [26920188],
 'G13': [37572727],
 'G14': [37776908],
 'G15': [6506030],
 'G16': [1923242],
 'G2': [43200626],
 'G3': [37032264],
 'G4': [39052795],
 'G5': [43574191],
 'G6': [36750415],
 'G7': [42425871],
 'G8': [39688818],
 'G9': [41214475],
 'H1': [25280406],
 'H10': [38520781],
 'H11': [32967437],
 'H12': [41270847],
 'H13': [37422537],
 'H14': [30102331],
 'H15': [9175826],
 'H16': [507972],
 'H2': [28813765],
 'H3': [22349524],
 'H4': [24759914],
 'H5': [30414599],
 'H6': [27475774],
 'H7': [34514625],
 'H8': [24061929],
 'H9': [22018934],
 'J1': [29899883],
 'J15': [3513498],
 'J16': [7184240],
 'J2': [29813636],
 'J3': [29541365],
 'J4': [28197254],
 'J5': [29972855],
 'J6': [28390700],
 'J7': [25873250],
 'J8': [29874387],
 'J9': [28997747],
 'K1': [22410586],
 'K15': [3612407],
 'K16': [6459403],
 'K2': [28918492],
 'K3': [26242205],
 'K4': [24820918],
 'K5': [23742724],
 'K6': [33328222],
 'K7': [31981703],
 'K8': [32681044],
 'K9': [30490811]}

In [8]:
filenames=os.listdir('./positive+H2O/')
file_control=pd.read_table('./control_shui/F16.txt')
for filename in filenames:
    file=pd.read_table('./positive+H2O/'+filename)
    key=filename[:-4]
    file_merge=file.merge(file_control,left_on='NAME',right_on='NNAME',how='left')
    file_merge['RR/Reads']=file_merge['RR']/dict_reads[key]
    file_merge['NRR/Reads']=file_merge['NRR']/dict_reads['F16']
    file_NAN=file_merge[file_merge['NRR'].isnull()]
    file_T=file_merge[file_merge['NRR'].notnull()]
    file_NAN['Real_ratio']=(file_NAN['RR']*dict_reads['F16'])/dict_reads[key]
    file_T['Real_ratio']=file_T['RR/Reads']/file_T['NRR/Reads']
    file_last=file_T.append(file_NAN,ignore_index=True)
    file_10_therold=file_last[file_last['Real_ratio']>=10]
    file_last.to_csv('./F16_control/positive+H2O_done/'+filename,sep='\t',index=False)
    file_10_therold.to_csv('./F16_control/positive+H2O_10therold/'+filename,sep='\t',index=False)

/f/mulinlab/chaiqiang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/f/mulinlab/chaiqiang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':